<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrandNewBlog</title>
</head>
<header>
<title>BrandNewBlog</title>
<p>A New Blog for a New Generation</p>
<nav>
    <a>home</a>
    <a>profile</a>
</nav>
</header>
<body>
    {{{body}}}
</body>
</html>