<section class="posts">
    {{#each posts as |post|}}
    <div class="post_title">
    <a href="/post/{{post.id}}">{{post.title}}</a>
    <h3>{{post.user.username}}</h3>
    </div>
    <div class="post_content">
        <p>{{post.content}}</p>
    </div>
    {{/each}}

</section>